<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyectos III</title>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
	<!-- script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="estilos.css"> -->
    <script src="../static/funciones.js"></script>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
  

        var actual = [];
        var anterior = [];

        function ajaxCall() {
            
            // const request = new XMLHttpRequest();

            // // request.open(TIPO, URL) 
            // // tipo : 'GET', 'POST', 'PUT', 'DELETE'
            // request.open('GET','http://localhost:5000/datos') //Abrir comunicacion (Handshake)
            // request.setRequestHeader('Access-Control-Allow-Headers', '*');
            // request.setRequestHeader('Access-Control-Allow-Origin', '*');
            // request.send(); //Leyendo el dato

            // console.log("He entrado a la funcion")


            // request.onreadystatechange = function () {
            //     console.log('test');
            //     console.log(request.status);
                
            //     console.log(request.readyState);
            //     if (request.readyState === 4) {
            //         console.log('test');
            //         console.log(request.responseText);
            //         $("#ponerDatos").text(request.responseText);
            //     }
            // };


            $.ajax({
                type: 'GET',
                url: 'http://localhost:5000/datos/{{user_id}}',
                success: function(data) {
                    var info = {};
                    try
                    {    
                        anterior = actual;

                        actual = JSON.parse(data);
                        
                        var difference = actual.filter(x => !anterior.includes(x));
                        
                        info = difference;
                        
                    }
                    catch(error)
                    {
                        console.log("Todavía no hay nada");
                        actual = JSON.parse(data);
                        info = difference;
                    }

                    for (var i = 0; i < info.length; i++)
                    {
                        console.log(info[i]);
                        
                        $('<p>'+info[i]+'</p>').appendTo("#datos_bien");
                    }

                    setTimeout(function(){ajaxCall(); /*send_data(difference)*/}, 1000);
                }
            });

        }
    </script>
</head>
<body onload=ajaxCall()>
<!-- <button onclick=ajaxCall()>Recoger Datos</button> -->
<p id="datos_bien"></p>
</body>
</html>