<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
        <title>Trophic Terra</title>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script>


            var actual = [];
            var anterior = [];

            function ajaxCall() {


                var request = $.ajax({
                    type: 'GET',
                    url: 'http://localhost:5000/datos_nuevos/{{user_id}}',
                    success: function(data) {
                        // console.log(data);
                        // var info = {};
                        var hacer_abort = false;
                        try
                        {
                            // anterior = actual;

                            // actual = data;

                            // var new_numJSON = actual.length - anterior.length;

                            // var difference = actual.slice(-new_numJSON);
                            // console.log(difference);
                            console.log(data);
                            console.log(data[data.length - 1]["Iteration"] +  " vs {{iters}}");
                            hacer_abort = (data[data.length - 1]["Iteration"] == "{{iters}}");
                        }
                        catch(error)
                        {
                            console.log("Todavía no hay nada");
                        }

                        if (hacer_abort == true)
                        {
                            request.abort();
                        }
                        else
                        {
                            setTimeout(function(){ajaxCall(); /*send_data(difference)*/}, 1000);
                        }
                    }
                });

            }
        </script>
    </head>

    <body onload=ajaxCall()>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-4 px-lg-5">
                <img src="../static/assets/Logo.jpg" height="50px" alt="Logo" style="margin-right: 30px;">
                <a class="navbar-brand pe-none">Trophic Terra</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 d-flex justify-content-end">
                        {% block navbarli %}
                            <!--
                            <li class="nav-item"><a class="nav-link" href="">Sobre Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Blog</a></li>
                            -->
                        {% if get_authenticated() %}
                            <li class="nav-item"><a class="nav-link" href="{{url_for('modulo_modelos.modelos')}}">Mis Modelos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('modulo_modelos.comunidad')}}">Comunidad</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('modulo_login.logout')}}">Log Out</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{url_for('modulo_login.login')}}">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url_for('modulo_login.signup')}}">Sign Up</a></li>
                        {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        {{message}}
                    </div>
                {% endfor %}
        </div>
        {% block content %}{% endblock %}

        <!--
        <hr class="featurette-divider">
        <div class="container-fluid">
            <footer class="text-center text-lg-start text-muted footer">
              <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <div class="me-5 d-none d-lg-block">
                  <span>&copy; 2022–2022 Company, Inc. <a href="#">Privacy</a> <a href="#">Terms</a></span>
                </div>
                <div>
                  <a href="https://www.facebook.com/" class="me-4 text-reset no_underscore">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="https://twitter.com/" class="me-4 text-reset no_underscore">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="https://www.google.com/account/about/" class="me-4 text-reset no_underscore">
                    <i class="fab fa-google"></i>
                  </a>
                  <a href="https://www.instagram.com/" class="me-4 text-reset no_underscore">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="https://www.linkedin.com/" class="me-4 text-reset no_underscore">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="https://github.com/" class="me-4 text-reset no_underscore">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </section>

            </footer>
        </div>
        -->
    </body>
</html>