{% extends 'base.html' %}
{% if form %}
    {% import "bootstrap/wtf.html" as wtf %}
{% endif %}
{% block content %}

<body>
    <h1 class="text-center m-4">Comunidad</h1>

<div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
        {% for modelo in modelos %}
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="../static/assets/campo.jpg" alt="imagen" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h4 class="fw-bolder">{{modelo.nombre}}</h4>
                            <p>Creador: {{modelo.creador}}</p>
                            <p>Fecha de Creación: {{modelo.fecha_creacion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}