
{% block content %}

    <input type="email" id="input1" name="fav_language" placeholder="input 1"><br>
    <input type="email" id="input2" name="fav_language" placeholder="input 2"><br>
    <input type="email" id="input3" name="fav_language" placeholder="input 3"><br>
    <input type="email" id="input4" name="fav_language" placeholder="input 4"><br>
    <input type="email" id="input5" name="fav_language" placeholder="input 5"><br>
    <input type="email" id="input6" name="fav_language" placeholder="input 6"><br>
    <input type="email" id="input7" name="fav_language" placeholder="input 7"><br>

    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="myFunction()"> SEND DATA </button>
    <script>

        function myFunction() {
            let input1 = document.getElementById("input1").value
            let input2 = document.getElementById("input2").value
            let input3 = document.getElementById("input3").value
            let input4 = document.getElementById("input4").value
            let input5 = document.getElementById("input5").value
            let input6 = document.getElementById("input6").value
            let input7 = document.getElementById("input7").value


            
            var aux1 = "campo 1: " + input1
            var aux2 = "campo 2: " + input2
            var aux3 = "campo 3: " + input3
            var aux4 = "campo 4: " + input4
            var aux5 = "campo 5: " + input5
            var aux6 = "campo 6: " + input6
            var aux7 = "campo 7: " + input7
            alert(aux1 +"\n"+ aux2+"\n" + aux3+"\n" + aux4+"\n" + aux5+"\n" + aux6+"\n" + aux7);
        }
    </script>




    
{% endblock %}