{% block content %}
    <div class="container">
        <h1>pagina principal</h1>
    </div>
    <div>
        <div>
            <form action="{{ url_for('modulo_bbdd.mostrar_user') }}">
                <button class="btn btn-lg btn-primary btn-block" type="submit"> USER </button>
            </form>
        </div>
        <div>
            <form action="{{ url_for('modulo_login.pagina_claudia') }}">
                <button class="btn btn-lg btn-primary btn-block" type="submit"> CLAUDIA </button>
            </form>
        </div>
        <div>
            <form action="{{ url_for('modulo_login.mostrar_parametrizacion') }}">
                <button class="btn btn-lg btn-primary btn-block" type="submit"> PARAMETRIZACION </button>
            </form>
        </div>
    </div>

{% endblock %}